@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cedarville+Cursive&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.irish-grover-regular {
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
}
.cursive {
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}




* {
    box-sizing: border-box;
    }
    
    html,body,h1,h2,h3,h4,h5,h6,p,div,span,ul,li,ol,dl,dt,dd,form,fieldset,legend,button,input,textarea,table,th,td,img,a {
    margin: 0;
    padding: 0;
    }
    
    body,header,footer,nav{
    /* font-family: 'Graphik Webfont'; */
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    }
    
    img {
    max-width: 100%;
    height: auto;
    }
    
    ul, li {
    list-style-type: none;
    }
    
    a {
    display: inline-block;
    text-decoration: none;
    color: rgb(23, 23, 23);
    font-weight: 500;
    }
    
    .container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 30px;
    /* padding: 15px 0; */
    }
    
    img, button, svg {
    cursor: pointer;
    }




      .swiper-pagination-bullet {
        background-color: gray !important;
        opacity: 0.5;
      }
      .swiper-pagination-bullet-active {
        background-color: rgb(176, 115, 40) !important;
        opacity: 1;
      }

  h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    /* margin: 20px 0; */
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img, button, i, a, Link {
    cursor: pointer;
  }

  .button {
    cursor: pointer;
    background-color: rgb(176, 115, 40);
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 25px; */
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease;
  }


  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background: #d1d5db !important;
    opacity: 1 !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #eab308 !important;
    transform: scale(1.2);
  }
  
  .swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  @media (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }